<div class="row carts">
  <div class="col-md-10 col-md-offset-1 carts-box text-center">

<div class="flow pull-right">
  <table class="tb">
      <tr>
        <th>1.购物车</th>
        <th>2.提交订单</th>
        <% if !@order.is_paid? %>
        <th class="moment">3.选择付款方式</th>
        <th>4.购买成功</th>
        <% else %>
        <th>3.选择付款方式</th>
        <th class="moment">4.购买成功</th>
        <% end %>
      </tr>
  </table>
</div>


<% if !@order.is_paid? %>
  <table class="table">
    <thead class="little">
      <tr>
        <th width="70%">
          项目：
          <% @product_lists.each do |product_list| %>
          《 <%= product_list.product_name %>》
          <% end %>
        </th>
        <th>
        应付金额：<%= @order.total %>
      </th>
      </tr>
    </thead>
  </table>
  <% else %>


  <table class="table" align="center">
    <thead class="little">
      <tr>
        <th>活动券</th>
      </tr>
    </thead>
  </table>
<table class="table" align="center">
    <thead class="little">
      <tr>
        <th colspan="2">订单信息</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          订单编号:
        </td>
        <td>
          下单时间:<%= (@order.created_at) %>
        </td>
      </tr>
    </tbody>
    </table>
    <table class="table">
    <thead class="little">
      <tr>
        <th colspan="8">团购信息</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>项目</th>
        <th>单价</th>
        <th></th>
        <th>数量</th>
        <th></th>
        <th>支付金额</th>
      </tr>
      <tr>
        <% @product_lists.each do |product_list| %>
        <td><%= product_list.product_name %></td>
        <td><%= product_list.product_price %></td>
        <td>x</td>
        <td><%= product_list.quantity %></td>
        <% end %>
        <td>=</td>
        <td><%= @order.total %></td>
      </tr>
    </tbody>
      </table>


  <% end %>


    <div class="pull-right">
      <% if @order.order_placed? || @order.paid? %>
      <%= link_to("申请取消订单", apply_to_cancel_order_path(@order), method: :post, class: "btn btn-info") %>
      <% end %>
    </div>

    <% if !@order.is_paid? %>
    <div class="group pull-left">
      <%= link_to("以支付宝支付", pay_with_alipay_order_path(@order.token), :method => :post, :class => "btn btn-danger") %>
      <%= link_to("以微信支付", pay_with_wechat_order_path(@order.token), :method => :post, :class => "btn btn-danger") %>
    </div>
    <% else %>
    <p class="text-center"></p>
    <% end %>
    </div>
  </div>
</div>
  </div>
  <!-- 锯齿 -->
  <div class="decor-top007">
   <svg class="decor" height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%" >
     <path d="M0 0 L2 40 L4 0 L6 40 L8 0 L10 40 L12 0 L14 40 L16 0 L18 40 L20 0 L22 40 L24 0 L26 40 L28 0 L30 40 L32 0 L34 40 L36 0 L38 40 L40 0 L42 40 L44 0 L46 40 L48 0 L50 40 L52 0 L54 40 56 0 L58 40 L60 0 L62 40 L64 0 L66 40 L68 0 L70 40 L72 0 L74 40 L76 0 L78 40 L80 0 L82 40 L84 0 L86 40 L88 0 L90 40 L92 0 L94 40 L96 0 L98 40 L100 0" stroke-width="0"></path>
   </svg>
  </div>
  <!-- 锯齿 -->
