<div class="row carts">
  <div class="col-md-10 col-md-offset-1 carts-box text-center">
<div class="flow pull-right">
  <table class="tb">
      <tr>
        <th class="moment">1.购物车</th>
        <th>2.提交订单</th>
        <th>3.选择付款方式</th>
        <th>4.购买成功</th>
      </tr>
  </table>

</div>
    <table class="table">
      <thead class="little">
        <tr>
          <th>项目</th>
          <th>单价</th>
          <th>数量</th>
          <th>考虑考虑</th>
        </tr>
      </thead>

      <tbody class="table-middle">
        <% current_cart.cart_items.each do |cart_item| %>
        <tr>
          <td>
            <%= link_to product_path(cart_item.product) do %>
            <% if cart_item.product.image.present? %>
            <%= image_tag(cart_item.product.image.thumb.url, class: "thumbnail") %>
            <% else %>
            <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
            <% end %>
            <% end %>

          </td>
          <td>
            ￥<%= cart_item.product.price %>
          </td>
          <td>
          <div class="count-input">
            <%= link_to("-", remove_quantity_cart_item_path(cart_item.product_id), method: :post) %>
            <input class="quantity" type="text" value="<%= cart_item.quantity %>">
            <%= link_to("+", add_quantity_cart_item_path(cart_item.product_id), method: :post) %>
          </div>
          </td>
          <td>
            <%= link_to cart_item_path(cart_item.product_id), method: :delete do %>
            <i class="fa fa-trash"></i>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <hr>
    <div class="total clearfix">
      <span class="pull-right">
        <span>
          应付金额  <%= render_cart_total_price(current_cart) %> RMB
        </span>
      </span>
    </div>
    <hr>
    <div class="checkout clearfix">
      <%= link_to("提交订单", checkout_carts_path, method: :post, class: "btn btn-lg btn-danger pull-right") %>
    </div>

  </div>
</div>


</head>

<!-- 锯齿 -->
<div class="decor-top007">
 <svg class="decor" height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%" >
   <path d="M0 0 L2 40 L4 0 L6 40 L8 0 L10 40 L12 0 L14 40 L16 0 L18 40 L20 0 L22 40 L24 0 L26 40 L28 0 L30 40 L32 0 L34 40 L36 0 L38 40 L40 0 L42 40 L44 0 L46 40 L48 0 L50 40 L52 0 L54 40 56 0 L58 40 L60 0 L62 40 L64 0 L66 40 L68 0 L70 40 L72 0 L74 40 L76 0 L78 40 L80 0 L82 40 L84 0 L86 40 L88 0 L90 40 L92 0 L94 40 L96 0 L98 40 L100 0" stroke-width="0"></path>
 </svg>
</div>
<!-- 锯齿 -->
