

<!--=============================== 1. 网站头图 ==============================-->
<section id="a1" class="a intro">
    <div class="row">
      <div class="col-md-10 col-centered text-center ">
      </div>
    </div>
</section>


<!--================================== 2.铁粉说 ==============================-->
<section id="a2" class="a say">
  <div class="row">
    <div class="col-md-3 col-md-offset-5 text-center">
        <div class="box">
          <div class="box-content">
            <h2 class="tag-title">拉胚课程</h2>
            <img class="small" src="https://ws4.sinaimg.cn/large/006tNc79gy1ffuhx8n0tpj30b408c0v6.jpg" alt="llogo">
            <hr/>
            <p>带你零基础学拉胚技巧，培养平静的心境，脱离城市工作中快节奏的压力。</p>
            <br/>
            <a href="feedbacks" class="btn btn-block btn-warning">了解更多</a>
          </div>
        </div>
    </div>
  </div>
</div>
</section>

<!--==================================3.产品 =================================-->
<section id="a3" class="a product">
  <div class="row">
    <div class="col-md-12" align="center">
      <% @products.each do |product| %>
      <div class="col-md-3">
        <div class="boxx">
          <%= link_to product_path(product) do %>
          <% if product.image.present? %>
          <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
          <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
          <% end %>
          <% end %>
          <div class="boxx-title">
            <%= product.title %> ￥ <%= product.price %>
          </div>
        </div>
          <a href="#" class="btn btn-block btn-warning">了解更多</a>
      </div>
      <% end %>
    </div>
  </div>
</section>

<!--================================ 4. 摄影 =================================-->
<section id="a4" class="a photo">
    <div class="row wm">
      <div class="col-md-12  col-centered text-center">
      </div>
    </div>
</section>

<!--================================= 菜单栏 =================================-->

<div class="index-menu" >
  <ul>
    <a href="#a1"><%= image_tag("intro.png") %></a>
    <a href="#a2"><%= image_tag("detail.png") %></a>
    <a href="#a3"><%= image_tag("product.png") %></a>
    <a href="#a4"><%= image_tag("photo.png") %></a>
  </ul>
</div>
