

<!--=============================== 1. 网站头图 ==============================-->
<section id="a1" class="a intro">
    <div class="row">
      <div class="col-md-10 col-centered text-center ">
      </div>
    </div>
</section>


<!--================================== 2.铁粉说 ==============================-->
<section id="a2" class="a say">
  <div class="row">
    <div class="col-md-3 col-md-offset-5 text-center">
        <div class="box">
          <div class="box-content">
            <img class="small" src="https://ws2.sinaimg.cn/large/006tKfTcgy1fg76slgeyoj30wc116jv2.jpg" alt="llogo">
            <h2 class="tag-title">粉丝说</h2>
            <hr/>
            <p>做陶艺是一个锻炼耐心，培养心境事情，学会了道，也学会了术。更陶冶了情操！</p>
            <div class="button2">
              <a href="feedbacks">到碗里去</a>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
</section>

<!--==================================3.产品 =================================-->
<section id="a3" class="a product">
  <div class="row">
    <div class="col-md-12" align="center">
      <% @products.each do |product| %>
      <div class="col-md-3">
        <div class="boxx">
          <%= link_to product_path(product) do %>
          <% if product.image.present? %>
          <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
          <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
          <% end %>
          <% end %>
        </div>

        <div class="boxx-title">
          <%= product.title %> ￥ <%= product.price %>
        </div>
          <div class="button2">
            <%= link_to "到碗里来", product_path(product) %>
          </div>
      </div>
      <% end %>
    </div>
  </div>
</section>

<!--================================ 4. 摄影 =================================-->
<section id="a4" class="a photo">
    <div class="row wm">
      <div class="col-md-12  col-centered text-center">
      </div>
    </div>
</section>

<!--================================= 菜单栏 =================================-->

<div class="index-menu" >
  <ul>
    <a href="#a1"><%= image_tag("intro.png") %></a>
    <a href="#a2"><%= image_tag("detail.png") %></a>
    <a href="#a3"><%= image_tag("product.png") %></a>
    <a href="#a4"><%= image_tag("photo.png") %></a>
  </ul>
</div>
