<div class="product-page">
  <div class="product-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="product-image">
            <% if @product.image.present? %>
            <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
            <% else %>
            <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
            <% end %>
          </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <div class="pay-area text-center">
            <h1 class="product-name"><%= @product.title %></h1>
            <h5 class="tagline"><%= @product.description %></h5>
            <h4 class="product-price">￥<%= @product.price %></h4>
            <div class="tagline">
              本期剩余名额 :
              <span><%= @product.quantity == 0 ? '已报满' : @product.quantity %></span>
            </div>

              <%= simple_form_for @product, method: :post, url: add_to_cart_product_path(@product) do |f| %>
              <div class="buy-quantity">
               <%= link_to("-", "", id: "quantity-minus", class: "quantity-minus btn btn-default disabled") %>
               <%= f.input_field "", name: "quantity", value: '1', id: "quantity-input", class: "quantity-input" %>
               <%= link_to("+", "", id: "quantity-plus", class: "quantity-plus btn btn-default #{@product.quantity <= 1 ? 'disabled' : ''}") %>
              </div>
              <button type="submit" class="btn btn-warning <%= @product.quantity == 0 ? 'disabled' : '' %>">
               <%= fa_icon("cart-arrow-down", text: "加入购物车") %>
              </button>
              <!-- <%= link_to "快捷一键下单", "#",method: :post, class: "btn btn-success" %> -->
             <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>

<div class="profile-page">
  <div class="container">
    <div class="row">
      <div class="profile-tabs">
        <!--==小目录==-->
        <ul class="nav nav-pills nav-pills-info pull-right" role="tablist">
          <li class="active">
            <a href="#introduction" role="tab" data-toggle="tab">
              <i class="material-icons">活动详情</i>
              detail
            </a>
          </li>
          <li>
            <a href="#cost" role="tab" data-toggle="tab">
              <i class="material-icons">费用说明</i>
              cost
            </a>
          </li>
          <li>
            <a href="#reviews" role="tab" data-toggle="tab">
              <i class="material-icons">往期评价</i>
              comments
            </a>
          </li>
        </ul>

        <!--==下半部分的具体内容==-->

        <div class="tab-content gallery">

          <!-- 活动详情 -->
          <div class="tab-pane active" id="introduction">
            <div class="row ">
              <div class="col-xs-10 col-xs-offset-1 col-md-12 text-center">
                <div class="col-md-3"><img src="https://ws3.sinaimg.cn/large/006tNbRwgy1fgcqro7clhj30i80fyjsf.jpg" alt=""></div>
                <div class="col-md-7"><p>里面大概有十几个转盘，现场有几个师傅会亲自指导。
                  <br>只要学会一些技巧以及注意自己的手势，并不会很难。
                  <br>若是走样了，师傅也会尽量帮你恢复原样，定型。
                  <br>所以不用怕失敗啦...
                </p>
                <img src="https://ws2.sinaimg.cn/large/006tNbRwgy1fgcr4sgp59j30hs0bvjw8.jpg" alt="">
                  </div>
                <div class="col-md-3"><img src="https://ws3.sinaimg.cn/large/006tNbRwgy1fgcqroyhndj30go0g0ab5.jpg" alt=""></div>
                <div class="col-md-7">
                  <p>陶瓷进窑越3到7天，即可看到你的成品。</p>
                  <img src="https://ws2.sinaimg.cn/large/006tNbRwgy1fgcr50l9ozj30hs0bvdiu.jpg" alt=""></div>
                <div class="col-md-3"><img src="https://ws3.sinaimg.cn/large/006tNbRwgy1fgcqrozgumj30gk0gedgr.jpg" alt=""></div>
                <div class="col-md-7">
                  <p>完成产品后，即可预约三天以后的任何时间段。
                    <br>这里有专业的摄影师，带领你拍出趣味的作品集。
                  </p><img src="https://ws3.sinaimg.cn/large/006tNbRwgy1fgbk6u6440j31kw0w0kjo.jpg" alt=""></div>
              </div>
            </div>
          </div>
          <!-- 费用说明 -->
          <div class="tab-pane" id="cost">
            <div class="section">
              <div class="container ">
                <div class="row">
                  <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 ">
                    <p><h4>活动费用：</h4>
                      ▪ 玩陶每人 100 元
                      <br>▪ 烧窑成品, 一件 150 元
                      <br>▪ 摄影，一组 80 元


                      <hr>

                       <h4>服务约定：</h4>
                       <br>1.支付活动费后即报名成功，名单请看顶部
                       <br>2.报名后推出活动的退款规则：
                       <br>  2017年06月11日00时00分前退出活动，活动费退100%
                       <br>  2017年06月12日00时00分前退出活动，活动费退80%
                       <br>  2017年06月12日00时00分后退出活动，活动费用不退还
                       <br>由于个人原因退出活动的，代金券不退还。
                       </p>
                     </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 往期评价 -->
          <div class="tab-pane reviews" id="reviews">
            <div class="section">
              <div class="container">
                <div class="row">
                  <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 ">
                    <!--综合-->
                    <div class="row text-center">
                      <div class="col-md-4 pull-left">
                        <!-- <h3>综合评价</h3> -->
                        <p class="reviews_title pull-left">共<%= @product.reviews.count %>人评价</p></div>
                        <!-- <div class="col-md-4">
                          陶艺体验： <div class="star star-experience" data-score= <%= @avg_experience %> ></div>
                          作品满意度： <div class="star star-production" data-score= <%= @avg_production %> ></div>
                          摄影满意度： <div class="star star-photography" data-score= <%= @avg_photography %> ></div>
                        </div> -->
                      </div>
                      <hr>
                      <!--对商品评论以及评星-->
                      <div class="row">
                        <% @reviews.each do |review| %>
                        <div class="col-md-3">陶艺体验: </div>
                        <div class="star star-experience" data-score= <%= review.experience %> ></div>
                        <div class="col-md-3">产品满意度: </div>
                        <div class="star star-production" data-score= <%= review.production %> ></div>
                        <div class="col-md-3">摄影满意度: </div>
                        <div class="star star-photography" data-score= <%= review.photography %> ></div>
                        <p><%= review.body %></p>
                        <p>
                          <small>Submitted
                            <strong><%= time_ago_in_words(review.created_at) %>ago</strong>
                            by <%= review.user.email %></small>
                          </p>
                          <div>
                            <% if review.user == current_user %>
                            <%= link_to("删除", product_review_path(@product, review), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-sm pull-right") %>
                            <% end %>
                          </div>
                          <% end %>
                          <hr>
                          <!--分页显示-->
                          <div class="text-center">
                          <%= will_paginate @reviews %>
                        </div>

                        <!--写评论-->


                          <%= simple_form_for([@product, @product.reviews.build]) do |f|%>
                            <div class="productDetail-evaluation ">
                              <div class="intro-text-count clearfix ">
                                <div class="col-md-3">陶艺体验: </div>
                                <div id="star-experience" class="star"></div>
                              </div>
                              <div class="intro-text-count clearfix ">
                                <div class="col-md-3">产品满意度: </div>
                                <div id="star-production" class="star"></div>
                              </div>
                              <div class="intro-text-count clearfix ">
                                <div class="col-md-3">摄影满意度: </div>
                                <div id="star-photography" class="star"></div>
                              </div>
                            </div>
                            <br>
                            <div class="form-group">
                              <%= f.input :body, label: "内容", input_html: { class: "form-control"} %>
                            </div>
                            <div class="form-actions"><a href="#reviews">
                              <%= f.submit "提交", disable_with: "Submiting..." %></a>
                            </div>
                          <% end %>
                        <!-- <%= link_to("评价",new_product_review_path(@product), :class => "btn btn-lg btn-info pull-right") %> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>



<script>
  $('.star-experience').raty({
        path: '/assets/',
            readOnly: true,
            score: function() {
          return $(this).attr('data-score');
        }
  });
  $('.star-production').raty({
        path: '/assets/',
            readOnly: true,
            score: function() {
          return $(this).attr('data-score');
        }
  });
  $('.star-photography').raty({
        path: '/assets/',
            readOnly: true,
            score: function() {
          return $(this).attr('data-score');
        }
  });

  $('#star-experience').raty({
  path: '/assets/',
  scoreName: 'review[experience]'
  });

  $('#star-production').raty({
  path: '/assets/',
  scoreName: 'review[production]'
  });

  $('#star-photography').raty({
      path: '/assets/',
      scoreName: 'review[photography]'
  });


<!-- 必须要选一颗星 -->
  $('#star-experience img').eq(0).trigger('click')
  $('#star-production img').eq(0).trigger('click')
  $('#star-photography img').eq(0).trigger('click')

</script>
