
<script>
  $('.star-experience').raty({
        path: '/assets/',
            readOnly: true,
            score: function() {
          return $(this).attr('data-score');
        }
  });
  $('.star-production').raty({
        path: '/assets/',
            readOnly: true,
            score: function() {
          return $(this).attr('data-score');
        }
  });
  $('.star-photography').raty({
        path: '/assets/',
            readOnly: true,
            score: function() {
          return $(this).attr('data-score');
        }
  });

  $('#star-experience').raty({
  path: '/assets/',
  scoreName: 'review[experience]'
  });

  $('#star-production').raty({
  path: '/assets/',
  scoreName: 'review[production]'
  });

  $('#star-photography').raty({
      path: '/assets/',
      scoreName: 'review[photography]'
  });


<!-- 必须要选一颗星 -->
  $('#star-experience img').eq(0).trigger('click')
  $('#star-production img').eq(0).trigger('click')
  $('#star-photography img').eq(0).trigger('click')

</script>


<div class="text-center">
  <h3>综合评价</h3>
  陶艺体验： <div class="star-experience" data-score= <%= @avg_experience %> ></div>
  作品满意度： <div class="star-production" data-score= <%= @avg_production %> ></div>
  摄影满意度： <div class="star-photography" data-score= <%= @avg_photography %> ></div>
</div>

<div class="container">
  <!--对商品评论以及评星-->
  <div class="row review">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
      <h3 class="reviews_title"><%= @product.reviews.count %> 铁粉说</h3>
        <hr>
        <div id="reivews">
          <div class="reviews_wrapper clearfix">
            <div class="pull-left">
              <% @reviews.each do |review| %>
                  陶艺体验：
                  <div class="star-experience" data-score= <%= review.experience %> ></div>
                  作品满意度：
                  <div class="star-production" data-score= <%= review.production %> ></div>
                  摄影满意度：
                  <div class="star-photography" data-score= <%= review.photography %> ></div>
                  <p><%= review.body %></p>
                  <p>
                  <small>Submitted
                  <strong><%= time_ago_in_words(review.created_at) %>ago</strong>
                  by <%= review.user.email %></small>
                  </p>
                  <div>
                  <% if review.user == current_user %>
                       <%= link_to("Delete", product_review_path(@product, review), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-sm pull-right") %>
                    <% end %>
                  </div>
                  <% end %>
            </div>
          </div>
          <hr>
          <%= link_to("评价",new_product_review_path(@product), :class => "btn btn-lg btn-info") %>
        </div>
      </div>
    </div>
</div>
