<footer class="container-fluid text-center footer-default">

  <!-- <div class="row logo">
    <div class="col-md-10 col-centered">
      <%= image_tag("twitter.png") %>
      <%= image_tag("facebook.png") %>
      <%= image_tag("weixin.png") %>
      <%= image_tag("weibo.png") %>
      <%= image_tag("qq.png") %>
    </div>
    </div> -->
      <p>Design by Ling Min Chen & Dong Yan Cai</p>
</footer>
